@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css");

body {
    text-align: center;
    margin-top: 1%;
}

.alert {
    width: 50%;
    margin: auto;
}

.question {
    color: yellow;
}

a {
    text-decoration: none;
}